[submodule "packages/duckflux-site"]
	path = packages/duckflux-site
	url = git@github.com:duckflux/site.git
	fetchRecurseSubmodules = true
[submodule "packages/duckflux-docs"]
	path = packages/duckflux-docs
	url = git@github.com:duckflux/docs.git
	fetchRecurseSubmodules = true
[submodule "packages/duckflux-editor"]
	path = packages/duckflux-editor
	url = git@github.com:duckflux/editor.git
	fetchRecurseSubmodules = true
[submodule "packages/autoducks-docs"]
	path = packages/autoducks-docs
	url = git@github.com:deepducks/autoducks.git
	fetchRecurseSubmodules = true
